.navbar {
  background-color: #f0f0f0;
  padding: 20px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.li {
  margin: 0 15px;
}

.button {
  border: none;
  background: none;
  padding: 10px 15px;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.button-container {
  position: relative;
  display: inline-block;
}

.button {
  position: relative;
  z-index: 1;
  border: none;
  background: none;
  padding: 10px 15px;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.hover-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: -1;
  border-radius: 20px;
}

.hover-box.show {
  opacity: 1;
}

.logo {
  display: flex;
  background-color: transparent;
  width: auto;
  height: 40px;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-right: 5px;
}

.logo-title {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 10px;
  color: inherit;
}

.welcome-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-text {
  color: #000000;
  font-weight: bold;
  white-space: nowrap;
  padding-right: 30px;
}